# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Buildroot files
buildroot/Image
buildroot/rootfs.cpio
buildroot/rootfs.tar
buildroot/rv32.dtb

# Ignore src+env directories
src/
env/

# Build files
build/*

# Binaries files
*.bin

# C compiled files
*.d
*.o
*.elf
